* {
  box-sizing: border-box;
}

body {
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 400px;
}

.square {
  width: 16px;
  height: 16px;
  background: #1d1d1d;
  margin: 2px;
  box-shadow: 0 0 2px #000;  /* default square shadow, to be changed in app.js */
  transition: 3s ease;   /* will be work only on mouse leave as on hover (mouse over) it has been diabled */
}

.square:hover {
  transition-duration: 0s; /*  square to be colored on hover immediately regardless transition proporty */
}